PORT=5000
MONGO_URI=mongodb+srv://23je0034_db_user:BklUn3QMqdVlZcaf@cluster0.tkjhqad.mongodb.net/campus_connect
JWT_SECRET=your_super_secret_jwt_key_change_this
JWT_EXPIRE=7d
CLOUDINARY_CLOUD_NAME=dbbehy7vd
CLOUDINARY_API_KEY=991144762931277
CLOUDINARY_API_SECRET=9D0_K9ZEdpbDNRDEtdneSgw-oi0
CLIENT_URL=https://campushstudyfrontend.onrender.com
//just for development, in production this should be the actual URL of the frontend